<div class="container chatroom"
  data-controller="chatroom-subscription"
  data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>">

  <div class = "pt-0 mb-0 px-1">
    <div class = "d-flex align-items-center">

      <div class="go-back">
        <%= link_to user_matches_path(current_user) do %>
          <i class="fa-solid fa-angle-left"></i>
        <% end %>
      </div>

      <%# Otherwise if the current user is the receiver then show the picture of the requster %>
        <% if (User.find(@match.user_requester_id).photos.first && @match.user_requester_id != current_user.id)  %>
        <%= cl_image_tag User.find(@match.user_requester_id).photos.first.key,height: 50, width:60, class: "avatar-large my-0 ms-0 me-3 p-0", alt: "avatar-large" %>

        <div>
          <h2 class = my-0><%= User.find(@match.user_requester_id).first_name%></h2>
          <p class = mb-0><em>Matched on</em> <%=@match.created_at.strftime("%a %b %e")%>
        </div>
        <% end %>

      <%# Otherwise if the current user is the reuester then show the picture of the receiver %>
        <% if (User.find(@match.user_receiver_id).photos.first && @match.user_receiver_id != current_user.id) %>
        <%= cl_image_tag User.find(@match.user_receiver_id).photos.first.key,height: 50, width:60, class: "avatar-large m-0 p-0", alt: "avatar-large" %>

      <div>
        <h2 class = my-0><%= User.find(@match.user_receiver_id).first_name%></h2>
        <p class = mb-0><em>Matched on</em> <%=@match.created_at.strftime("%a %b %e")%>
      </div>
      <% end %>

    </div>
  </div>
  <hr>
  <div class="messages" data-chatroom-subscription-target="messages">
    <% @chatroom.messages.each do |message| %>
    <%= render "messages/message", message: message %>
    <% end %>
  </div>
  <%= simple_form_for [current_user, @match, @chatroom, @message],
  html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex" } do |f|
  %>
  <%= f.input :content,
    label: false,
    placeholder: "Don't be shy...",
    wrapper_html: {class: "flex-grow-1"}
  %>
  <%= f.submit "Send", class: "btn btn-primary mb-3" %>
<% end %>
