<% if user != current_user %>
  <%= link_to user_path(user), class: "black" do %>
    <div class="">
        <% if user.photos.first %>
          <%= cl_image_tag (user.photos.first.key) ,height: 50, width:60, class: "avatar-large", alt: "avatar-large" %>
        <% else %>
          <%= image_tag "avatarplace.png", alt: "avatar", class: "avatar-large", style: "object-fit:cover; margin-top: 0px;" %>
        <% end %>
      <h5 class="mt-2"><%= user.first_name %> <%= user.age %></h5>
      <p><%= user.address %></p>
    </div>
  <% end %>
<% else %>
  <%= link_to homepage_users_path, class: "black" do %>
    <div class="">
        <% if current_user.photos.first %>
          <%= cl_image_tag (current_user.photos.first.key) ,height: 50, width:60, class: "avatar-large", alt: "avatar-large" %>
        <% else %>
          <%= image_tag "avatarplace.png", alt: "avatar", class: "avatar-large", style: "object-fit:cover; margin-top: 0px;" %>
        <% end %>
      <h5 class="mt-2"><%= user.first_name %>, <%= user.age %></h5>
      <p><%= user.address %></p>
    </div>
  <% end %>
<% end %>
