<% if user != current_user %>
  <%= link_to user_path(user), class: "black" do %>
    <div class="">
      <h5><%= user.first_name %> <%= user.age %></h5>
      <p><%= user.address %></p>
    </div>
  <% end %>
<% else %>
  <%= link_to homepage_users_path, class: "black" do %>
    <div class="">
      <h5><%= user.first_name %>, <%= user.age %></h5>
      <p><%= user.address %></p>
    </div>
  <% end %>
<% end %>
