<nav class="fixed-top navbar-lewagon">
  <div class="d-flex justify-content-end">
    <%= render 'notifications/notification' %>
    <span class= "gym-buddy-size mt-3 pe-5 me-4" style="color:#FFCE34" ><h4>GymBuddy</h4></span>
    <span class="mt-3 fs-2 px-4">
      <%= link_to setting_user_path(current_user) do %>
        <i class="fa-solid fa-gear"></i>
      <% end %>
    </span>
  </div>
</nav>
<div class="container" style= "background-color:#222222;padding-top: 6rem; color:#FFFFFF; padding-bottom: 37px;">
  <div class = "d-flex justify-content-between align-items-center">
    <div class = "homepage-name">
      <h3>Hi, <%= current_user.first_name %> ! <i class="fa-solid fa-hands-clapping" style = "color:#FFCE34"></i></h3>
      <p>What are you looking for today?</p>
    </div>
    <% if current_user.photos.first %>
      <%= cl_image_tag (current_user.photos.first.key) ,height: 50, width:60, class: "avatar-large", alt: "avatar-large" %>
    <% else %>
      <%= image_tag "avatarplace.png", alt: "avatar", class: "avatar-large", style: "object-fit:cover; margin-top: 0px;" %>
    <% end %>
  </div>
  <div class = "d-flex justify-content-between mt-5">
    <div>
      <h6>GymBuddies top picks</h6>
    </div>
    <div class = "link-no-design">
      <p><%= link_to "View all", users_path %></p>
    </div>
  </div>
  <div class="scrolling-wrapper-flexbox">
    <% @users_matching.first(5).each do |user| %>
      <%= link_to user_path(user), class: "link" do %>
        <div class="cards">
          <div class="card-category card-category-homepage" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path user.photos.first.key%>')">
            <div style = "padding-left:8px;">
              <div style="margin-bottom:8rem;">
                <br><p class= "scroll-name text-center"><%= user.first_name%></p>
              </div>
              <div>
              <h4><span style="color:white"><%= user.address%></span></h4>
              <p><span style="color:white">Fitness: <%= user.level_of_fitness %></span></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class = "d-flex justify-content-between mt-5">
    <div>
      <h6>Your GymBuddies</h6>
    </div>
    <div class = "link-no-design">
      <p><%= link_to "View all", users_path %></p>
    </div>
  </div>
  <% @users_matching.first(5).each do |user| %>
    <div class = "activity-card mb-3">
      <%= link_to user_path(user) do %>
      <div>
        <img src="<%= cl_image_path user.photos.first.key%>" alt="">
      </div>
      <% end %>
      <div>
        <h5><%= user.first_name %></h5>
        <span style= "font-size: 22px"><p>Available days:<% user.days_available.each do |day| %>
          <% if day == "Monday" %>
            <%= 'Mon' %>
          <% elsif day == 'Tuesday' %>
            <%= 'Tue' %>
          <% elsif day == 'Wednesday' %>
            <%= 'Wed' %>
          <% elsif day == 'Thursday' %>
            <%= 'Thur' %>
          <% elsif day == 'Friday' %>
            <%= 'Fri' %>
          <% elsif day == 'Saturday' %>
            <%= 'Sat' %>
          <% elsif day == 'Sunday' %>
            <%= 'Sun' %>
          <% end %>
        <% end %></p></span>
        <p>Age: <%= user.age %><span style="padding-left:12px"><%= link_to "See details", user_path(user) %></span></p>
      </div>
    </div>
  <% end %>
<%= render "shared/footer" %>
</div>
