<div class="card mb-4" style="width: 100%; background-color:#F4F4F4; ">
  <div class="card-body  mx-auto box-shadow: 0 0 15px rgba(0,0,0,0.2);">
    <% @users.each do |user| %>
        <div class = "border border-1 mb-3">
          <%= cl_image_tag user.photo.key, height: 500, width: 300, crop: :fill %>
          <div class="mt-3 mb-3">
            <h2><%= user.first_name %>  <%= user.age %></h2>
          </div>
          <h5 class="card-title">Location: <%= user.address %></h5><br>
          <% user.activities.each do |activity| %>
            <%= activity.name %>
          <% end %>
          <%= user.gender %>
          <%= user.level_of_fitness %>
          <%= user.days_available  %>
          <%= user.partner_gender_preference  %>
        </div>
    <% end %>
  </div>
</div>
