

 <div class = "text-center">
   <h1>Your Matches</h1>
 </div>
  <% @users.each do |user| %>
    <div class="card-category mt-5 mx-auto" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path user.photo.key, height: 500, width: 300, crop: :fill %>');">
      <div class= " d-flex flex-gap">
        <div>
          <h3 class = "pt-4 ml-3"><%= user.first_name %>,  <%= user.age %></h3>
          <p ><%= user.address %></p><br>
        </div>
        <div class = "text-bottom" >
          <div class = "card-bottom-icon pt-3 d-flex justify-content-around">
            <div>
              <p>Swimming <i class="fa-solid fa-person-swimming"></i></p>
            </div>
            <div>
              <p>Running <i class="fa-solid fa-person-running"></i></p>
            </div>
            <div>
              <p>Lifting <i class="fa-solid fa-dumbbell"></i></p>
            </div>
          </div>
          <p class="px-2 "><i class="fa-solid fa-calendar-days" style= "color:#FFCE34"></i> Available days: Monday, Tuesday & Thursday </p>
          <p class="px-2 "><i class="fa-solid fa-calendar-days" style= "color:#FFCE34"></i> Gender Preference: <%= user.partner_gender_preference %> </p>
        </div>
      </div>
    </div>
  <% end %>


<%# class = "card " style= "background-color:#D3D1D2; border-radius: 15px; width:90%; color:black" %>
