

<%= render "shared/navbar" %>
<div class="container " style= "background-color:#222222;padding-top:6rem;color:#FFFFFF;padding-bottom: 50px;">
  <div class = "mb-3">
    <h5>Explore GymBuddies</h5>
  </div>
  <% @users_matching.each do |user| %>
    <% if user != current_user %>
      <div class = "activity-card mb-3">
        <img src="<%= cl_image_path user.photos.first.key%>" alt="">
        <div>
          <h5><%= user.first_name %></h5>
          <p>Activities:<% user.activities.each do |activities| %>
          <% if activities.name == 'climbing' %>
            Climbing <i class="fa-solid fa-person-hiking"></i>
          <% elsif activities.name == 'swimming' %>
            Swimming <i class="fa-solid fa-person-swimming"></i>
          <% elsif activities.name == 'boxing' %>
            Boxing <i class="fa-solid fa-boxing-glove"></i>
          <% elsif activities.name == 'crossfit' %>
            Crossfit <i class="fa-solid fa-arrow-down-up-across-line"></i>
          <% elsif activities.name == 'running' %>
            Running <i class="fa-solid fa-person-running"></i>
          <% elsif activities.name == 'bodybuilding' %>
            Bodybuilding <i class="fa-solid fa-dumbbell"></i>
          <% elsif activities.name == 'tennis' %>
            Tennis <i class="fa-solid fa-table-tennis-paddle-ball"></i>
          <% elsif activities.name == 'golf' %>
            Golf <i class="fa-solid fa-golf-club"></i>
          <% end %>
          <% end %></p>
          <p>Age: <%= user.age %><span style="padding-left:12px"><%= link_to "See details", user_path(user) %></span></p>
        </div>
      </div>
    <% end %>
  <% end %>
  <%= render "shared/footer" %>
</div>
