
 <div class = "text-center">
   <h1>Your Matches</h1>
 </div>

  <% @users_matching.each do |user| %>
    <div class="card-category mt-5 mx-auto" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('');">
      <div class=" d-flex flex-gap">
        <div class="name">
          <h2>Hi !
            <br>
            I'm <%= user.first_name %>
          </h2>
        </div>
        <div class="card">
          <div class="card-body" style = "color: black">
            <h5 class="card-title"><%= user.address %>, <%= user.age %>, <%= user.level_of_fitness%></h5>
            <h6>I like:
              <% user.activities.each do |activity| %>
                <strong><%= activity.name %></strong>
              <% end %>
              <br>
              Preferred days:
              <% user.days_available.each do |day| %>
                <strong><%= day %></strong>
              <% end %>
              <br>
              Between <strong><%= user.start_time %></strong> & <strong><%= user.end_time %></strong>
            </h6>
            <p class="card-text"><%= user.bio %></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>


<%# class = "card " style= "background-color:#D3D1D2; border-radius: 15px; width:90%; color:black" %>
