

<%= render "shared/navbar" %>
<div class="container " style= "background-color:#222222;padding-top:6rem;color:#FFFFFF;padding-bottom: 37px;">
  <div class = "mb-3">
    <h5>Explore GymBuddies</h5>
  </div>
  <% @users_matching.each do |user| %>
    <% if user != current_user %>
      <div class = "activity-card mb-3">
        <img src="<%= cl_image_path user.photos.first.key%>" alt="">
        <div>
          <h5><%= user.first_name %></h5>
          <p>Activities:<% user.activities.each do |activities| %>
          <%= activities.name.capitalize %>
          <% end %></p>
          <p>Age: <%= user.age %><span style="padding-left:12px"><%= link_to "See details", user_path(user) %></span></p>
        </div>
      </div>
    <% end %>
  <% end %>
  <%= render "shared/footer" %>
</div>
