<div class="footer fixed-bottom bg-secondary border-top border-primary pt-2">
  <div class="footer-links">
    <%= link_to users_path do %>
      <i class="fa-solid fa-g"></i>
    <% end %>
    <%= link_to destroy_user_session_path, data:{ turbo_method: :delete } do %>
      <i class="fa-solid fa-map-location-dot"></i>
    <% end %>
    <%= link_to user_matches_path(current_user) do %>
      <i class="fa-solid fa-dumbbell"></i>
    <% end %>
    <%= link_to users_path do %>
      <i class="fa-solid fa-message"></i>
    <% end %>
    <%= link_to homepage_users_path do %>
      <i class="fa-solid fa-id-card"></i>
    <% end %>
  </div>
</div>
