<div class="wrapper d-flex flex-column justify-content-between">
  <div class="container" style="padding-bottom: 50px;">
    <div class="content-aligned py-3 container">
      <h1>GymBuddy</h1>
    </div>
    <%# Start to write your code below %>

    <div data-controller="tabs" class="tabs-container">
      <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <a data-tabs-target="tab" data-action="click->tabs#activeClass" class="nav-link active" aria-current="page" href="#">Your GymBuddies</a>
        </li>
        <li class="nav-item">
          <a data-tabs-target="tab2" data-action="click->tabs#activeClass" class="nav-link" href="#">Pending requests</a>
        </li>
      </ul>
      <div class="list-match-to-accept" data-tabs-target="content">
        <ul>
          <% if @my_gymbuddies %>
            <% @my_gymbuddies.each do |match| %>
              <% if current_user == match.user_requester %>
                <div class="card-product my-4 me-1 border border-primary">
                  <% if match.user_receiver.photos.first %>
                    <%= cl_image_tag match.user_receiver.photos.first.key, alt: "user image", id: "image" %>
                  <% else %>
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSRZem4co5Itv4LZwtQnvcj66ODvDWulDUupQ&usqp=CAU" alt="image">
                  <% end %>
                  <div class="card-product-infos">
                    <h1><%= match.user_receiver.first_name %></h1>
                      <br>
                      <% if match.chatrooms.first.nil? %>
                        <%= simple_form_for [current_user, match, @chatroom] do |f| %>
                        <%= f.submit "Start chat!", class: "btn btn-primary" %>
                        <% end %>
                      <% else %>
                        <%= link_to "Chat", user_match_chatroom_path(current_user, match, match.chatrooms.first), class: "btn btn-primary", style:"display: center" %>
                      <% end %>
                      </h6>
                  </div>
                </div>
              <% else %>
                <div class="card-product my-4 me-1 border border-primary">
                  <% if match.user_requester.photos.first %>
                    <%= cl_image_tag match.user_requester.photos.first.key, alt: "user image", id: "image" %>
                  <% else %>
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSRZem4co5Itv4LZwtQnvcj66ODvDWulDUupQ&usqp=CAU" alt="image">
                  <% end %>
                  <div class="card-product-infos">
                    <h2><%= match.user_requester.first_name %></h2>
                      <br>
                      <% if match.chatrooms.first.nil? %>
                        <%= simple_form_for [current_user, match, @chatroom] do |f| %>
                        <%= f.submit "Start chat!", class: "btn btn-primary" %>
                        <% end %>
                      <% else %>
                        <%= link_to "Chat", user_match_chatroom_path(current_user, match, match.chatrooms.first), class: "btn btn-primary", style:"display: center" %>
                      <% end %>
                      </h6>
                  </div>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </ul>
      </div>
      <% if @my_match_to_accept_real %>
        <div class="list-match-accepted d-none" data-tabs-target="content2">
          <ul>
              <% @my_match_to_accept_real.each do |match| %>
                <div class="card-product my-4 me-1 border border-primary">
                <% if match.user_requester.photos.first %>
                  <%= cl_image_tag match.user_requester.photos.first.key, alt: "user image", id: "image" %>
                <% else %>
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSRZem4co5Itv4LZwtQnvcj66ODvDWulDUupQ&usqp=CAU" alt="image">
                <% end %>
                  <div class="card-product-infos">
                    <h1><%= match.user_requester.first_name %></h1>
                  </div>
                </div>
                <div class="buttons d-flex justify-content-evenly">
                  <%= link_to "<<Skip", user_match_path(match.user_requester, match, status: 2), data:{ turbo_method: :patch }, class: "btn btn-dark" %>
                  <%= link_to "Connect", user_match_path(match.user_requester, match, status: 1), data:{ turbo_method: :patch }, class: "btn btn-primary" %>
                </div>
              <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
  <%= render "shared/footer" %>
</div>
